
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
    font-size: 62.5%
    /* 100% = 16px  */
    /* 1px = 6.2 */ 
    /* 100/16 */
}

#container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-items: center;
    align-items: center;
}

#header{
    background-color: red;
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header p{
    font-size: 5rem;
}
#tech{
    color: aquamarine;
}

@media (max-width:480px) {
    #header p{
        font-size: 0.8rem;
        color:rgb(38, 206, 0);
    }

}
@media (max-width:900px) {
    #header p{
        font-size: 3rem;
        color:yellow;
    }

}